:root {
  --primary-color: #3983f7;
  --dark-color: #282828;
  
  --blue-color-50: #EBF2FE;
  --blue-color-100: #D7E6FD;
  --blue-color-200: #B0CDFB;
  --blue-color-300: #89B4FA;
  --blue-color-400: #629BF8;
  --blue-color-500: #3B82F6;
  --blue-color-600: #0B61EE;
  --blue-color-700: #084BB8;
  --blue-color-800: #063583;
  --blue-color-900: #041F4D;

  --red-color-500: #EF4444;

  --gray-color-50 : #CDD0D5;
  --gray-color-100 : #C2C5CC;
  --gray-color-200 : #ACB0BA;
  --gray-color-300 : #969BA7;
  --gray-color-400 : #7F8694;
  --gray-color-500 : #6B7280;
  --gray-color-600 : #515761;
  --gray-color-700 : #383C43;
  --gray-color-800 : #1E2024;
  --gray-color-900 : #050506;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-color-900);
  color: var(--blue-color-100);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue-color-50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav-link {
  color: var(--blue-color-100) !important;
}

.text-white {
  color: var(--blue-color-50) !important;
}

.text-danger {
  color: var(--red-color-500) !important;
}

.text-primary {
  color: var(--blue-color-700) !important;
}

.text-mutted {
  color: var(--gray-color-600) !important;
}

.bg-dark {
  background-color: var(--blue-color-900) !important;
}

.bg-semi {
  background-color: var(--blue-color-800) !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:focus-visible {
  border: none;
  outline: none !important;
  box-shadow: none;
  margin-right: 0 !important;
}

.btn-close {
  color: var(--blue-color-100) !important;
}

.btn.btn-primary {
  color: var(--blue-color-50);
  background-color: var(--blue-color-700);
  border-color: var(--blue-color-700);
}

.bg-blue{
  background-color: var(--blue-color-800);
}

.bg-gray {
  background-color: var(--gray-color-800);
}

.container-full {
  height: 100vh;
  position: relative;
}