.message-item {
  border-radius: 22px;
  max-width: 300px;
  min-height: 44px;
  padding: 1em;
  width: 300px;
}

.message-item.author-me {
  background-color: var(--blue-color-700);
  border-color: gray;
}

.message-item.author-me b {
  color: var(--blue-color-50);
}

.message-item.author-me p {
  color: var(--blue-color-100);
}

.message-item.author-other {
  background-color: var(--blue-color-100);
  border-color: gray;
}

.message-item.author-other b {
  color: var(--blue-color-700);
}

.message-item.author-other p {
  color: var(--blue-color-600);
}

.announcement {
  background-color: var(--gray-color-800);
  border-radius: 22px;
  margin: 1em 0;
  padding: .5em 1em;
}